# Variáveis em Python

Em Python, podemos associar valores a variáveis, para que sejam armazenados e facilmente acessados ao longo do seu código.

Pense na variável como um "nome" para o objeto que estamos manipulando.

Diferente de outras linguagens, as variáveis não precisam ser definidas anteriormente, podemos criá-las no momento da associação

Para associarmos um valor a uma variáveis, basta usar o operador que indica associação `=`.

In [1]:
x = 300

Após associarmos o valor 300 à variável `x`, podemos acessá-la utilizando a mesma, ou mesmo a função `print`.

In [2]:
# chamando a variável diretamente
x

300

In [3]:
# imprimindo a variável com print
print(x)

300

Também podemos associar um novo valor a essa variável, para que a partir desse momento, ela assuma um novo valor.

In [4]:
print("Valor inicial:", x)

# atribuir novo valor
x = 100

print("Valor novo:", x)

Valor inicial: 300
Valor novo: 100

## Tipos de Variáveis

Além de utilizarmos `integers`, ou inteiros, podemos usar outros tipos de variáveis como `strings`, ou `floats`.

Vamos ver na prática como isso funciona.

### Integers
Para utilizar inteiros, basta criar a variável como tal, sem valores decimais.

In [5]:
# integers
x = 50
print(x)

50

### Floats
Ao utilizar Floats, precisamos ter cuidado com uma detalhe. A vírgula, em Python, serve pra enumeração, e não para casas decimais.

Para definir casas decimais, vamos utilizar o ponto `.`

Para criar um float, basta associar à variável um número que possua casa decimal.

In [7]:
# float
x = 25.0
print(x)

25.0

### Strings
Strings são nossa linguagem natural, utilizando caracteres e palavras.

Para criar strings, precisamos colocar nosso conteúdo entre parênteses.

In [8]:
# string
x = "Data Science é a profissão mais sexy do mundo."
print(x)

Data Science é a profissão mais sexy do mundo.

## Verificando o Tipo da Variável

É claro que você vai sempre criar as variáveis da forma desejada, e seguindo os padrões para não encontrar erros ou problemas no seu código.

Entretanto, não é incomum encontrarmos, por exemplo, números que estão em formato string, e por isso, se comportarão como tal, não permitindo operações matemáticas, por exemplo.

Para que possamos descobrir o tipo das nossas variáveis, temos a função `type`.

In [9]:
# imprimindo a variável
x = 100.0
print(x)

# verificando o tipo
type(x)

100.0

float

### Criando Variáveis a Partir de Variáveis

Também podemos criar cópias das variáveis, associando novas variáveis a ela.

Isso nos permite explorar a variável sem alterar a original.

In [10]:
# criando uma variável através da variável original
print("Variável x: ", x)

y = x

print("Variável y: ", y)

Variável x:  100.0
Variável y:  100.0

Podemos fazer isso com qualquer tipo de variável.

Também podemos criar a nova variável a partir de uma operação feita com a variável original.

In [11]:
# criando uma nova variável com operações
x = 10

y = x * 10

print(y)

100

É importante entender que o relacionamento entre as duas acaba no momento da associação. 

Após isso, elas funcionam independentes uma da outra, portanto, alterações feitas em uma não afetam a outra.

In [14]:
# criando as variáveis
print('Criando as Variáveis')
x = 10

y = x
# resultado
print('x:', x)
print('y:', y)


print('\nTransformação x = y + 10')
x = y + 10
# resultado
print ('Novo x:', x)
print ('y:', y)


print('\nTransformação y = y / 2')
y = y/2

# resultado
print('x:', x)
print('Novo y:', y)

Criando as Variáveis
x: 10
y: 10

Transformação x = y + 10
Novo x: 20
y: 10

Transformação y = y / 2
x: 20
Novo y: 5.0

## Exercícios

Agora, vamos testar nosso conhecimento sobre as variáveis.

#### Exercício 1

Crie uma variável do tipo `integer`, chamada x, e associe a ela sua idade.

In [23]:
# resposta
x = 43
print(f'Tenho {x} anos. \nEssa variável é do tipo {type(x)}')

Tenho 43 anos.
Essa variável é do tipo <class 'int'>

In [20]:
#@title Solução
x = 36

#### Exercício 2

Crie uma variável do tipo `float`, chamada y, e associe a ela o preço de uma barra de chocolate.

In [48]:
# resposta
y = 5.00
print(f'Preço da barra de chocolate é {y}')
print(type(y))

Preço da barra de chocolate é 5.0
<class 'float'>

In [26]:
#@title Solução
y = 2.99

#### Exercício 3
Crie uma variável do tipo `string`, chamada `nome` e associe a ela o seu nome.

In [29]:
# resposta
nome = 'Fernando'
print('Meu nome é', nome)
print(type(nome))

Meu nome é Fernando
<class 'str'>

In [ ]:
#@title Solução
nome = "Sigmoidal "

#### Exercício 4

Verifique o tipo das variáveis `x`, `y`, `nome`.

Dica: A função print vai ajudar a fazer tudo em uma célula só.

In [37]:
# resultado
print(f'Tipo de variável. \n\tx: {type(x)} \n\ty: {type(y)} \n\tnome: {type(nome)}')

Tipo de variável.
	x: <class 'int'>
	y: <class 'float'>
	nome: <class 'str'>

In [35]:
#@title Solução
print('x:', type(x))
print('y:', type(y))
print('nome:', type(nome))

x: <class 'int'>
y: <class 'float'>
nome: <class 'str'>

#### Exercício 5

Crie uma variável que seja que calcule o ano em que você nasceu, utilizando operadores matemáticos e sua variável `x`.

In [44]:
# resultado
x = 44
ano_atual = 2021
ano_nascimento = ano_atual - x
print('Meu ano de nascimento é', ano_nascimento)

Meu ano de nascimento é 1977

In [45]:
#@title Solução
x = 2020 - x
print(x)

1976

### Exercício 6

Crie uma variável para o preço de 3 barras de chocolate, usando a variável `y`.

In [49]:
# resultado
total_barras_chocolate = y * 3
total_barras_chocolate

15.0

In [ ]:
#@title Solução
y = y * 3
print(y)

### Exercício 7
Crie uma variável que contenha o seu nome 10 vezes, utilizando a variável `nome`.

In [51]:
# resultado
nomeNome = nome * 10
nomeNome

'FernandoFernandoFernandoFernandoFernandoFernandoFernandoFernandoFernandoFernando'

In [52]:
#@title Solução
nome = nome * 10
print(nome)

FernandoFernandoFernandoFernandoFernandoFernandoFernandoFernandoFernandoFernando