# Introdução ao Python

Nesta aula veremos sobre o tipo de dado chamado **booleano**, ou ***bool***, além dos operadores relacionais e dos operadores lógicos.

São extremamente importantes, presentes em qualquer lógico de qualquer programa de computador.

## Booleanos

O tipo `bool` é um dado que pode possuir os valores `True` ou `False`:

* `True` - equivalente ao número 1
* `False` - equivalente ao número 0

In [ ]:
# ver o tipo de True
type(True)

bool

In [ ]:
# ver o tipo de False
type(False)

bool

## Operadores Relacionais

Os Operadores Relacionais server para você fazer comparações entre valores ou variáveis.

Após avaliar uma expressão, os Operadores Relacionais retornam um dado do tipo `bool`, ou seja, `True` ou `False`. Veja os 6 operadores:


| **OPERADOR** | **DESCRIÇÃO**    |
|:------------:|:----------------:|
| <            | Menor que        |
| >            | Maior que        |
| <=           | Menor or igual a |
| >=           | Maior ou igual a |
| ==           | Igual a          |
| \!=          | Diferente de     |

In [ ]:
# operador relacional maior que
4 > 5

False

In [ ]:
# operador relacional igual a 
4 == 4

True

Podemos utilizar esses operadores para `strings` também, como no exemplo abaixo.

É importante ressaltar também que o Python é ***case sensitive***, o que significa que ele diferencia minúsculas de maiúsculas, portanto `x` não é o mesmo que `X`.

In [ ]:
# operador relacional com strings
'texto' == 'TEXTO'

False

Quando utilizamos operadores booleanos, o `True` assume o valor `1`, e `False`, `0`.

Podemos conferir isso com o código abaixo:

In [ ]:
True == 1

True

In [ ]:
False == 1

False

Podemos utilizar de operadores booleanos para diferentes tarefas, que podem ter diferentes níveis de complexidade.

In [ ]:
2 ** 10 >= 100

True

Ao usar o comparativo "diferente de", estamos buscando igualdade total, ou seja, um **2** do tipo `int` e um **2** do tipo `string` não são considerados iguais.

In [ ]:
2 != '2'

True

## Operadores Lógicos

Os Operadores Lógicos são aqueles que permitem você unir várias expressões lógicas, várias comparações.

Em *scripts* ou projetos de *Data Science* que você irá fazer, com certeza lidará com situações onde vai precisar avaliar várias condições ao mesmo tempo.

Os três Operadores Lógicos que você precisa conhecer são:

| **OPERADORES LÓGICOS** | **DESCRIÇÃO**                                         |
|:----------------------:|:-----------------------------------------------------:|
| and                    | Verifica se todas as expressões são True              |
| or                     | Verifica se pelo menos uma expressão é verdadeira     |
| not                    | Verifica a negação da expressão\. Inverte o resultado |


Com eles, podemos fazer diversas conferências, que serão muito úteis no nosso código, seja para trabalhar e limpar os dados, ou executar uma função em uma aplicação.

### Operador lógico AND
Quando usamos esse operador, queremos que **todas** as condições sejam verdadeiras. Caso alguma delas seja falsa, teremos `False` como resultado.

In [ ]:
# verificar se todas as condições são atendidas
idade = 23
possui_habilitacao = True

# permitir aluguel do carro?
(idade >= 18) and (possui_habilitacao)

True

In [ ]:
# verificar se todas as condições são atendidas
idade = 17
possui_habilitacao = True

# permitir aluguel do carro?
(idade >= 18) and (possui_habilitacao)

False

### Operador OR
Para o or, precisamos que **ao menos uma** das condições seja satisfeita.

In [ ]:
# verificar se ao menos uma condição é atendida
tempo_relacionamento = 3
valor_da_compra = 300.50
cartao_da_loja = False

# fornecer desconto se uma das condições for verdadeira
(tempo_relacionamento > 1) or (valor_da_compra > 500.00) or (cartao_da_loja)

True

### Operador NOT
Ao usar esse operador, estamos verificando a negação da operação, ou seja, invertendo o resultado.

Ou seja, ele retorna `False` caso o resultado seja `True`.

In [ ]:
# verificar se a criança pode entrar em um brinquedo do parque
altura_crianca = 1.10

# a criança pode entrar no brinquedo?
not altura_crianca < 1.50

False

## Exercícios

* Verifique se a expressão $2^4$ é igual a $16$:

### Exercício 1
Verifique se a expressão $2^4$ é igual a $16$:

In [1]:
# resposta
2 ** 4 == 16

True

In [2]:
#@title Solução
2**4 == 16

True

### Exercício 2
Abaixo estão as notas de 3 provas de um estudante de ensino médio. Usando Operadores Lógicos e Operadores Relacionais, verifique se o mesmo foi aprovado no semestre. A condição para aprovação é ter as notas todas maiores ou iguais a 7.

In [11]:
nota_matematica = 7.0
nota_ingles = 8.2
nota_historia = 6.95

# expressão para ver se o aluno foi aprovado
print(nota_matematica >= 7, nota_ingles >= 7, nota_historia >= 7)
print(nota_matematica, nota_ingles, nota_historia)

# média geral
print((nota_matematica + nota_ingles + nota_historia) / 3 >= 7)

True True False
7.0 8.2 6.95
True

In [5]:
#@title Solução
print(nota_matematica >= 7)
print(nota_ingles >= 7)
print(nota_historia >= 7)

# verificar média geral
print(nota_matematica + nota_ingles + nota_historia / 3 >= 7)

True
True
False
True

### Exercício 3
Usando operadores lógicos e matemáticos, verifique se João pode tirar carteira de motorista, sabendo que a idade mínima para isso é 18 anos de idade, e que custa R$1.000,00

In [12]:
# dados do João
idade = 19
saldo = 1500

In [13]:
# resposta
print(idade >= 18 and saldo >= 1000)

True

In [14]:
#@title Solução
idade >= 18 and saldo >= 1000

True

**Referências**

- Notebook usado na aula
 - https://colab.research.google.com/drive/15je1iVoBUSDqvA_d8NFwYSbpFyYWzngm?usp=sharing