# Strings

Nesta aula conheceremos as *strings*, que são uma sequência de caracteres como números, letras e símbolos.

## Strings

Strings são caracteres declarados entre aspas (simples ou duplas), sendo que esses caracteres podem ser símbolos, números ou letras.

Operações ou manipulações de *strings* são muito comuns, e com frequência você irá precisar trabalhá-las em seus projetos de *Data Science*. Vale ressaltar que o Python mostra o tipo *string* como sendo `str`:

In [1]:
type("Carlos Melo")

str

Para imprimir *strings*, eu informo as mesmas dentro da função `print()`.

In [2]:
nome = "Carlos"
sobrenome = "Melo"
sufixo = "Junior"
profissao = "Piloto"

# imprimir nome completo
print("Nome completo:")
print(nome, sobrenome, sufixo)

# imprimir profissão
print("Sua profissão é", profissao + ".")

Nome completo:
Carlos Melo Junior
Sua profissão é Piloto.

É possível acessar os caracteres individuais dentro de uma *string*. Para isso, basta informar a posição desejada entre colchetes.

**Lembre-se sempre que a linguagem Python (assim como a maioria) começa com uma indexação em 0.** Veja como as posições da *string* `Carlos` estão distribuidas:

| **0** | **1** | **2** | **3** | **4** | **5** |
|:-----:|:-----:|:-----:|:-----:|:-----:|:-----:|
| C     | a     | r     | l     | o     | s     |

Uma dica, para acessar a última letra de uma *string* é só colocar `[-1]` ao final da mesma.

In [3]:
nome = "Carlos"

# ver qual é a primeira letra da variável `nome`
nome[0]

'C'

In [7]:
# ver qual a última letra da variável `nome`
nome[-1]

's'

### Função  `len()`


Para saber o tamanho de uma *string*, existe no Python uma função chamada `len()`, que irá sempre retornar um valor do tipo inteiro (`int`). Usá-la é muito simples e direto:

In [8]:
# verificar o tamanho da sequência de um DNA
dna = 'ATGCGGACCTAT'

len(dna)

12

### Função `split()`

A função `split()` serve para você separar *strings* baseando-se em um delimitador. Por exemplo, a variável nome da célula abaixo contém 3 nomes separados por vírgulas.

Para eu extrair esses nomes, basta eu executar `nomes.split(',')`, e o Python vai me retornar uma lista com 3 itens.

Não se preocupe. O conceito de listas será abordado mais para frente!

In [15]:
nomes = "Carlos,Fernanda,Theo"

nomes.split(",")

['Carlos', 'Fernanda', 'Theo']

### Função `replace()`

Como o nome já diz, ela serve para substituir caracteres dentro de uma string.

Imagine a situação que você importa uma tabela sua do Excel, e os valores monetários estão no sistema brasileiro,ou seja, as casas decimais estão separadas por vírgulas.

Se eu quiser converter uma string do tipo `9,50` em um valor numérico, eu tenho que substituir a vírgula pelo ponto:

In [0]:
valor = "9,50"

In [20]:
float(valor.replace(",", "."))

9.5

### Função `strip()`

Remove ou espaços em branco ou caracteres indesejados. Pode ser usada tanto para remover espaços em branco no começo e final de uma *string*, quanto para remover caracteres indesejados.

In [24]:
nome = "     Carlos Melo     "
nome.strip()

'Carlos Melo'

Voltando ao exemplo que usei na função `replace()`, imagine que quando você importou seus dados eles virem da seguinte forma: `R$ 9,00`.

Se você quiser converter para um número, precisa antes eliminar os caracteres `R$ `

In [25]:
"R$ 9,50".strip('R$ ')

'9,50'

In [26]:
"R$ 9,50".strip('R$ ').replace(',', '.')

'9.50'

In [27]:
float("R$ 9,50".strip('R$ ').replace(',', '.'))

9.5

### Slicing
O Python nos permite "cortar" as nossas strings, técnica chamada de `slicing`.

Como exemplo, vamos usar a variável abaixo

In [0]:
nome = 'Carlos'

Para fazer o slicing, nós chamamos a variável a ser "fatiada", e colocamos entre colchetes o index de início e fim, separados por `:`.

Lembre-se que a indexação em Python começa no zero, portanto:
* [0] - C
* [1] - a
* [2] - r
* [3] - l
* [4] - o
* [5] - s

Também é importante saber que a posição final não é incluída. Ou seja, se chamarmos o slicing da seguinte forma:

nome[2:4]

teríamos como retorno as letras
* [2] - r
* [3] - l

pois a letra `o` na posição quatro, não é incluída no slicing.

In [33]:
# slicing da variável `nome`
nome[2:4]

'rl'

Também podemos omitir uma das variáveis, e isso fará que o slicing comece desde o primeiro index, e termine no último.

In [34]:
# slicing do começo ao 4
nome[:3]

'Car'

In [35]:
# slicing do 2 ao fim
nome[2:]

'rlos'

Lembre-se que podemos adicionar as strings. Podemos fazer isso também usando slicing.

In [36]:
print('Nome Completo: ', nome)
print('Primeira parte: ', nome[:3])
print('Segunda parte: ', nome[3:])
print('Nome feito adicionando Slices: ', nome[:3] + nome[3:])

Nome Completo:  Carlos
Primeira parte:  Car
Segunda parte:  los
Nome feito adicionando Slices:  Carlos

Ainda falando de slices, nós também podemos definir um *step*, ou um passo de intervalo, para que os caracteres sejam pulados.

Vamos ver como isso funciona na prática.

In [0]:
# criando a variável
num = '123456789'

Como temos 27 caracteres, isso significa que nossos índices vão do 0 ao 26, totalizando 27.

Podemos usar o slicing para mostrar apenas os números ímpares, por exemplo, basta acrescentar um dígito extra, que é o step.

A sintaxe fica da seguinte forma:

> variável[index_início, index_final, step]

In [51]:
# slicing da variável num, começando do primeiro caractere, indo até o último, em step 2, ou seja
# mostra um, pula um
num[::2]

'13579'

In [52]:
# para visualizarmos os pares, basta começar da posição 2
# aqui temos dois `:`, pois indicamos o início, até (:) o final (:) e step 2.
num[1::2]

'2468'

### Convertendo Strings

Por padrão, podemos usar o Python para converter as strings em maíusculas, minúsculas, etc.

Esses processos são bastante úteis ao tratarmos dados em formato string.

In [0]:
# criando a variável a ser manipulada
nome = "josé Santos da Silva"

#### capitalize()

Essa função transforma o primeiro caractere em maiúsculo.

In [45]:
nome.capitalize()

'José santos da silva'

#### lower()
Essa função transforma todos os caracteres em minúsculo.

In [46]:
nome.lower()

'josé santos da silva'

#### upper()
Para tornar todas maiúsculas, basta usar essa função.

In [47]:
nome.upper()

'JOSÉ SANTOS DA SILVA'

#### title()
Essa função transforma a primeira letra de cada palavra em maiúscula.

In [48]:
nome.title()

'José Santos Da Silva'

#### swapcase()
Aqui iremos inverter as coisas, transformando maiúsculas em minúsculas, e vice-versa.

In [49]:
nome.swapcase()

'JOSÉ sANTOS DA sILVA'

## Exercícios

### Exercício 1

Escreva seu nome e sobrenome, como nos exemplos acima, e imprima ele na tela usando a função `print()`:

In [0]:
# resposta

In [0]:
#@title Solução
print("Carlos Melo")

### Exercícios 3
Verifique o tamanho da *string* da variável sha1_hash abaixo:

In [0]:
sha1_hash = "b91552e0b2b2183e85a4371020ab6b9f4ef83ed0"

In [0]:
# resposta

In [0]:
#@title Solução
len(sha1_hash)

### Exercício 3

Converta a string `85,00 Kg` em uma variável do tipo float.

In [0]:
# resposta

In [0]:
#@title Solução
float('85,00 Kg'.strip(' Kg').replace(',', '.'))

#### Exercício 4

Faça o que se pede com a variável em cada uma das células abaixo

In [0]:
# criando a variável
x = 'Data, Science, é, demais!'

In [0]:
# a) imprima a quantidade de caracteres na variável x

In [0]:
# b) retire as vírgulas da variável

In [0]:
# c) imprima apenas os 6 primeiros caracteres da variável

In [0]:
# d) imprima todos os caracteres, mostrando um e pulando um

In [0]:
# e) transforme todas as letras em maiúsculas

In [0]:
# f) transforme todas as letras em minúsculas

In [0]:
#@title Solução
print(x)
# a)
print(len(x))

# b)
x = x.strip().replace(',', '')
print(x)

# c)
print(x[:6])

# d)
print(x[::2])

# e)
print(x.upper())

# f)
print(x.lower())