# Tuplas

Tuplas são um outro tipo de estrutura, porém é uma estrutura voltada a sequência ordenada de itens imutáveis.

Normalmente, são utilizadas para armazenar pedaços de informações que estejam relacionadas.

Podem ser acessadas pelo índice, porém não podem ser mudadas. Ou seja, você não consegue alterar, adicionar ou remover itens delas.

In [ ]:
teste = ()

In [ ]:
type(teste)

tuple

Ao criar uma tupla, precisamos levar em consideração que é necessário inserir uma vírgula, mesmo que o intuito seja criar uma lista com um único valor.

Já que o Python também entende parênteses como operadores matemáticos, caso tentemos criar uma tupla com um valor sem a vírgula, o Python irá entendê-lo como um objeto do tipo `int`.

Apesar dessa não ser uma operação comum, agora você saberá como proceder caso seja necessário.

In [ ]:
# tentando criar uma tupla sem vírgula
t = (2)
type(t)

int

In [ ]:
# criando tupla de um valor, com a vírgula
t = (2,)
type(t)

tuple

In [ ]:
# exemplos das dimensões de uma caixa
caixa_sapato = (18, 28, 10)

print(caixa_sapato)
print(type(caixa_sapato))

(18, 28, 10)
<class 'tuple'>

Também podemos associar variáveis a cada valor de uma tupla.

Além disso, uma tupla pode ter quantos valores forem necessários.

In [ ]:
# latitude e longitude de brasilia
brasilia = (-15.77, -47.92)

# associando os valores da tupla em variáveis.
lat, lon = brasilia

In [ ]:
print("Latitude:", lat)
print("Longitude:", lon)

print("\n\n", brasilia)

Latitude: -15.77
Longitude: -47.92


 (-15.77, -47.92)

### Se tuplas são imutáveis, por que usá-las ao invés de listas?

Pode parece estranho criarmos um objeto que não pode ser modificado, mas apesar dessa desvantagem em relação às listas, existem vantagens para o uso das tuplas, como por exemplo:

* A execução de um programa é mais rápida ao maniuplar tuplas do que seu equivalente em formato de lista. De qualquer forma, isso não será perceptível caso sejam muito pequenas.
* Às vezes nós **não queremos** que os dados sejam modificados. Se uma coleção de valores precisam se manter constantes por todo o ciclo do programa, usar tuplas ao invés de listas proporciona mais segurança contra modificação acidental.
* Ao utilizar dicionários, podemos ter dentro deles tuplas, que serão imutáveis, carregando para os dicionários os benefícios do ponto anterior, quando comparamos com as listas.

Apesar de sua imutabilidade, nós podemos acessá-las e explorá-las.

Além disso, tuplas podem conter qualquer tipo de dados, como `int`, `float` e `string`.

In [ ]:
# tupla de strings
estados = ('Rio de Janeiro', 'São Paulo', 'Minas Gerais')
type(estados)

tuple

Cada item dentro da tupla, possui um índice, que pode ser acessado.

In [ ]:
# acessando o primeiro item da tupla
print(estados[0])

# acessando o último item da tupla
print(estados[-1])

Rio de Janeiro
Minas Gerais

## Exercícios
Apesar de não poderem ser mudados, vamos praticar a criação e o acesso aos valores de uma tupla.

### Exercício 1
Crie uma tupla com os nomes dos estados da sua região.

In [ ]:
# resposta

In [ ]:
#@title Solução
centro_oeste = ('Distrito Federal', 'Goiás', 'Mato Grosso', 'Mato Grosso do Sul')
type(centro_oeste)

### Exercício 2
Associe cada estado a uma variável e crie uma nova tupla, utilizando essas variáveis.

In [ ]:
# resposta
estados = ('São Paulo', 'Minas Gerais', 'Pernambuco', 'Paraíba')
print(estados)
print(type(estados))

('São Paulo', 'Minas Gerais', 'Pernambuco', 'Paraíba')
<class 'tuple'>

In [ ]:
#@title Solução
centro_oeste = ('Distrito Federal', 'Goiás', 'Mato Grosso', 'Mato Grosso do Sul')
df = centro_oeste[0]
go = centro_oeste[1]
mt = centro_oeste[2]
ms = centro_oeste[3]
co = (df,go,mt,ms)
print(type(co))
print(co)

<class 'tuple'>
('Distrito Federal', 'Goiás', 'Mato Grosso', 'Mato Grosso do Sul')

### Exercício 3
Utilizando as tuplas criadas anteriormente, faça o que se pede em cada célula.

In [ ]:
# imprima o último item da tupla
estados[-1]

'Paraíba'

In [ ]:
# imprima o item que se encontra no meio da tupla
estados[2]

'Pernambuco'

In [ ]:
# imprima os itens da tupla, pulando um
estados[::2]

('São Paulo', 'Pernambuco')

In [ ]:
#@title Solução
# último
print(co[-1])

# meio
print(co[2])

# itens pulando um
print(co[::2])

Mato Grosso do Sul
Mato Grosso
('Distrito Federal', 'Mato Grosso')

Usando a função `map`

In [ ]:
# mapeando cada item com a função "map" e, imprimindo separado por vírgula
def tips_digit(n):
  return list(map(int, str(n)))

print(tips_digit(2468))

[2, 4, 6, 8]

In [ ]:
# também é possivel realizar com "strings"
def tips_letters(n):
  return list(map(str, str(n)))

print(tips_letters('Fernando Galvão'))

['F', 'e', 'r', 'n', 'a', 'n', 'd', 'o', ' ', 'G', 'a', 'l', 'v', 'ã', 'o']

In [ ]:
# podemos também mapear de uma variável
fullName = 'Kátia Galvão'

def tips_letters(n):
  return list(map(str, str(n)))

print(tips_letters(fullName))

['K', 'á', 't', 'i', 'a', ' ', 'G', 'a', 'l', 'v', 'ã', 'o']

In [ ]:
firstName = input(str('Digite o seu nome: ')).upper()
lastName = input(str('Digite o seu sobrenome: ')).upper()
fullName = firstName + ' ' + lastName
# fullName

Digite o seu nome: fernando
Digite o seu sobrenome: galvão

In [ ]:
def tips_letters(n):
  return tuple(map(str, str(n)))

print(tips_letters(fullName))

('F', 'E', 'R', 'N', 'A', 'N', 'D', 'O', ' ', 'G', 'A', 'L', 'V', 'Ã', 'O')

**Referências**

- Notebook usado na aula
 - https://colab.research.google.com/drive/1KeMctbNBtbRBe0bm-lfqQpWMsXvXUann?usp=sharing

- Python Lists and Tuples
 - https://realpython.com/python-lists-tuples/

- Tuplas em Python
 - http://excript.com/python/tuplas-python.html